/trabajoEnClase/RepresentBinaria/nbproject/private/
/trabajoEnClase/RepresentBinaria/build/
/trabajoEnClase/ContCaracteres/nbproject/private/
/trabajoEnClase/DevCadena/nbproject/private/
/trabajoEnClase/DevDigitos/nbproject/private/
/trabajoEnClase/ListString/nbproject/private/
/trabajoEnClase/ValidEmail/nbproject/private/
/trabajoEnClase/ValidEmail/build/
/trabajoEnClase/ValorMaximo/nbproject/private/
/trabajoEnClase/ValorMaximo/build/
/trabajoEnClase/CompArrays/nbproject/private/
/trabajoEnClase/LlenarArray/nbproject/private/
/trabajoEnClase/LlenarArray/build/
/trabajoEnClase/OrdenLista/nbproject/private/
/trabajoEnClase/OrdenLista/build/
/trabajoEnClase/DevCadena/build/
/trabajoEnClase/DevDigitos/build/
